
body {
  margin: 0;
  font-family: 'Helvetica Now', 'Helvetica Neue', 'Helvetica','Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

.actor-photo {
  max-width: 50vw;
  max-height: 50vh;
}

.active{
  color: gray;
}

a{
  color: white;
  text-decoration: none;
}